@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  /* Looppit Custom Colors - 추가 색상 */

  --background: #161022;
  --secondary: #a492c9;
  --secondary-muted: #a492c926;
  --primary: #5b13ec;

  --card: #1e182a;
  --card-lighter: #2a223a;

  --white-soft: rgba(255, 255, 255, 0.1);
  --white-softer: rgba(255, 255, 255, 0.05);

  --surface: #221933;
  --chip: #2f2348;

  --positive: #4ade80;
  --action: #818cf8;
  --destructive: #ef4444;
}

@theme inline {
  --radius-small: 12px;
  --radius-medium: 24px;
  --radius-large: 32px;

  /* Custom Colors - 추가 색상 */
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary-muted: var(--secondary-muted);
  --color-card: var(--card);
  --color-card-lighter: var(--card-lighter);

  --color-white-soft: var(--white-soft);
  --color-white-softer: var(--white-softer);

  --color-surface: var(--surface);
  --color-chip: var(--chip);

  --color-positive: var(--positive);
  --color-action: var(--action);
  --color-destructive: var(--destructive);

  /* Typography Styles */
  --font-wanted-sans: var(--font-wanted-sans);
}

/* Typography Styles */
@utility typography-title-lg {
  font-size: 18px;
  font-weight: 700;
}

@utility typography-title-medium {
  font-size: 16px;
  font-weight: 700;
}

@utility typography-body-bold {
  font-size: 14px;
  font-weight: 700;
}

@utility typography-body-semibold {
  font-size: 14px;
  font-weight: 600;
}

@utility typography-caption-bold {
  font-size: 12px;
  font-weight: 700;
}

@utility typography-caption-medium {
  font-size: 12px;
  font-weight: 500;
}

@layer base {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}
